:root {
  --shadow-100: 2px 2px 0 var(--color-shadow);
  --shadow-200: 4px 4px 0 var(--color-shadow);
  --shadow-300: 6px 6px 0 var(--color-shadow);
  --shadow-400: 8px 8px 0 var(--color-shadow);
  --shadow-500: 10px 10px 0 var(--color-shadow);
  --shadow-600: 12px 12px 0 var(--color-shadow);
}
