@use '@/styles/abstracts/functions' as *;

:root {
    --p-xs2: #{px-to-rem(8)};
    --p-xs: #{px-to-rem(12)};
    --p-sm: #{px-to-rem(16)};
    --p-md: #{px-to-rem(24)};
    --p-lg: #{px-to-rem(32)};
    --p-xl: #{px-to-rem(48)};
    --p-xl2: #{px-to-rem(64)};
    --p-xl3: #{px-to-rem(96)};

    --p-btn-md: var(--p-xs) var(--p-md);
    --p-btn-lg: var(--p-sm) var(--p-lg);

}