:root {
    --bg-theme-toggle: var(--neutral-200);
    --bg-theme-toggle-hover: var(--stone-100);

}

[data-theme="dark"] {
    --bg-theme-toggle: var(--neutral-800);
    --bg-theme-toggle-hover: var(--stone-900);
}