:root {
    --text-main: ;
    --text-secondary: ;
    --text-placeholder: ;
    --text-disabled: ;
    --text-inverse: ;
    --text-link: ;
    --text-link-hover: ;
    --text-warning: ;
    --text-success: ;
    --text-error: ;
    --text-alert: ;
    
}

[data-theme="dark"] {
    --text-main: ;
    --text-secondary: ;
    --text-placeholder: ;
    --text-disabled: ;
    --text-inverse: ;
    --text-link: ;
    --text-link-hover: ;
    --text-warning: ;
    --text-success: ;
    --text-error: ;
    --text-alert: ;
}